.protect__section {
  background-color: #f6f6f6;
  background-color: var(--color-gray-10);
  flex-grow: 1;
  padding: 2.75rem;
}

.protect__section ul.disc {
  list-style: disc !important;
  padding-left: 30px !important;
}

.protect__section .heading-blue {
  font-weight: 400 !important;
}

.protect__section {
  margin-bottom: 3.75rem;
}

@media screen and (max-width: 768px) {
  .protect__section {
    padding: 20px 20px 40px;
  }
}
