.policy__cover {
  max-width: 1150px;
  /* margin: 50px auto 20px !important; */
  /* text-align: center !important; */
}

.policy__cover .coverage_icon img {
  width: 80px;
  margin-bottom: 10px;
}

.policy__cover .policy__cover_title h2 {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
  color: var(--afi-blue-700);
}

.policy__cover h2,
.policy__cover h3 {
  color: #004976 !important;
  font-size: 36px !important;
}

.policy__cover h2 {
  text-align: center !important;
}

.policy__cover .policy_cover_title h2 {
  font-size: 36px !important;
  line-height: 2.5rem;
}

.policy__cover .policy_cover_item h2,
.policy__cover .coverage-item h2 {
  font-family: Roboto, sans-serif !important;
}

.policy__cover .coverage-item h3 {
  display: none;
}