<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Press Release</title>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Zilla+Slab:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <link as="font" rel="stylesheet preload prefetch"
        href="https://fonts.gstatic.com/s/zillaslab/v11/dFa6ZfeM_74wlPZtksIFajo6_Q.woff2" type="font/woff2"
        crossorigin="anonymous" />
    <link as="font" rel="stylesheet preload prefetch"
        href="https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2" type="font/woff2"
        crossorigin="anonymous" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />

    <!-- CSS -->
    <link rel="stylesheet" href="../../../common.css" />
    <link rel="stylesheet" href="../../../Header/css/header.css" />
    <link rel="stylesheet" href="../../../Footer/css/footer.css" />
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="../css/press-article.css">
</head>
<style>
    /* Hero CSS */
    .page__hero .hero__image {
        max-width: 100rem;
        width: 100%;
        object-fit: cover;
        display: block;
        margin: auto;
    }


    /* Article CSS */
    .press_release_articles .press_content {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .press_release_articles .press_title {
        display: flex;
        align-items: start;
        gap: 1rem;
    }

    .press_release_articles .press_title h1 {
        margin: 0 !important;
    }

    .press_release_articles {
        padding: 2rem 0;
    }

    .press_article p,
    .press_article h2 {
        margin-bottom: 5px;
    }

    .press_article .read_more_btn {
        font-size: 1.125rem !important;
        line-height: 24px;
    }

    .read_more_btn:hover {
        text-decoration: underline !important;
    }


    /* Pagination CSS */
    .press_release_articles .pagination {
        margin: 2rem 0;
        display: flex;
        justify-content: flex-end;
    }

    .pagination .pagination__list {
        margin: 2rem 0;
        align-items: center;
        display: flex;
        list-style: none;
    }

    .pagination__list .pagination__link {
        background-color: #f6f6f6;
        border-radius: .5rem;
        color: #000 !important;
        display: grid;
        justify-items: center;
    }

    .pagination__list .pagination__link.btn_color {
        background: #0570c5 !important;
        color: #fff !important;
        border-radius: 1.5rem;
        padding: .75rem 1rem;
    }

    .pagination__link.active_btn {
        color: #0570c5 !important;
    }

    .pagination__list .pagination__link {
        font-size: 1.25rem !important;
        margin: 0 .25rem;
        min-width: 2.5rem;
        padding: .5rem;
    }
</style>

<body>

    <!-- ******************************************************************** -->
    <!--                                 HEADER                               -->
    <!-- ******************************************************************** -->
    <header class="header" id="header">
        <div class="wrapper">
            <!-- ******** TOP HEADER ******** -->
            <div class="header__utility-wrapper">
                <form class="utility-search" action="/search-page" method="get">
                    <input class="utility-search__input" name="search" type="text" placeholder="Search" />
                    <button class="utility-search__submit" type="submit">
                        <span class="is-vishidden">Submit</span><span class="icon-search">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </form>
                <nav class="utility-nav">
                    <ul class="utility-nav__list">
                        <li class="utility-nav__list-item">
                            <a class="utility-nav__link" href="/contact-us">Contact Us
                                <span class="icon-phone">
                                    <i class="fa-solid fa-phone"></i> </span></a>
                        </li>
                        <li class="utility-nav__list-item">
                            <a class="utility-nav__link" href="http://aficonnect.afi.org/AFIConnect/SignIn">Login
                                <span class="icon-lock">
                                    <i class="fa-solid fa-lock"></i> </span></a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- ******** MAIN HEADER ******** -->
            <div class="header__main-wrapper">
                <!-- HAMBURGER -->
                <button id="hamburger" class="hamburger hamburger--spring js-offscreen-trigger" type="button">
                    <span class="hamburger__box">
                        <span class="hamburger__inner"></span>
                    </span>
                </button>
                <!-- LOGO -->
                <a class="logo__link" href="/">
                    <img src="../../../Header/logo.png" class="logo" alt="Armed Forces Insurance Logo" width="156"
                        height="85" />
                </a>
                <!-- HIDDEN LOGIN ICON FOR MOBILE -->
                <a class="login-link" href="#" target=""><span class="icon-lock"> <i
                            class="fa-solid fa-lock"></i></span><span class="login-link__text"></span></a>

                <!-- *** NAV *** -->
                <nav class="primary-nav">
                    <ul class="primary-nav__list">
                        <li class="primary-nav__list-item">
                            <a href="#" class="primary-nav__link">Is AFI For You?</a>
                        </li>
                        <li class="primary-nav__list-item has-children js-togglesection-wrapper">
                            <a href="#" class="primary-nav__link has-children js-togglesection-trigger">About AFI <i
                                    class="fa-sharp fa-solid fa-chevron-up"></i></a>
                            <div class="secondary-nav js-togglesection-target">
                                <ul class="secondary-nav__list">
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">AFI History</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Leadership</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Mission Statement</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Annual Report</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">AFI Foundation</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Corporate Citizenship</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Preferred Partners</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="/about-afi/insurance-ratings-affiliations"
                                            class="secondary-nav__link">Ratings &amp;
                                            Affiliations</a>
                                    </li>
                                    <li class="#">
                                        <a href="#" class="secondary-nav__link">President&#39;s Message</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Member Reviews</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Newsletters</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Press Releases</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Careers</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="primary-nav__list-item has-children js-togglesection-wrapper active">
                            <a href="#" class="primary-nav__link has-children js-togglesection-trigger">Insurance
                                Products
                                <i class="fa-sharp fa-solid fa-chevron-up"></i></a>
                            <div class="secondary-nav js-togglesection-target">
                                <ul class="secondary-nav__list">
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Auto</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Business</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#-vehicle" class="secondary-nav__link">Collector Vehicle</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Condo</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#-fire" class="secondary-nav__link">Dwelling Fire</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Flood</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Homeowner</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Life</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#-home" class="secondary-nav__link">Mobile Home</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Motorcycle/Off-Road Vehicle</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Motorhome/Travel Trailer</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Pet Health</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Renter</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Umbrella</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Valuable Items</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Watercraft</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="primary-nav__list-item">
                            <a href="#" class="primary-nav__link">Claims</a>
                        </li>
                        <li class="primary-nav__list-item has-children js-togglesection-wrapper">
                            <a href="#" class="primary-nav__link has-children js-togglesection-trigger">Resources and
                                Tools
                                <i class="fa-sharp fa-solid fa-chevron-up"></i></a>
                            <div class="secondary-nav js-togglesection-target">
                                <ul class="secondary-nav__list">
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Homeowner Insurance</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Renter Insurance</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Auto Insurance</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Insurance 101</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">PCS</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Post Traumatic Stress Disorder PTSD</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Fraud Protection</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">FAQs</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="primary-nav__list-item has-children js-togglesection-wrapper">
                            <a href="#" class="primary-nav__link has-children js-togglesection-trigger">Contact Us <i
                                    class="fa-sharp fa-solid fa-chevron-up"></i></a>
                            <div class="secondary-nav js-togglesection-target">
                                <ul class="secondary-nav__list">
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link" target="">Contact Information</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link" target="">Pay Bill</a>
                                    </li>
                                    <li class="secondary-nav__list-item">
                                        <a href="#" class="secondary-nav__link">Payment Options</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>

                <!-- QUOTE BUTTON -->
                <a class="button button--large-text header__request-quote-button text-white"
                    href="/request-a-quote">Request A
                    Quote</a>
            </div>
        </div>
    </header>

    <script>
        const body = document.body;
        const hamburger = document.querySelector("#hamburger");
        const navHasChildItems = document.querySelectorAll(
            ".primary-nav__list .primary-nav__list-item.has-children"
        );

        hamburger.addEventListener("click", () => {
            body.classList.toggle("offscreen-is-active");
        });

        navHasChildItems.forEach((navItem) => {
            navItem.addEventListener("click", function () {
                if (screen.width < 1080) {
                    this.classList.toggle("toggle-is-open");
                    console.log(screen.width);
                }
            });
        });

        // Script to add Font Aweosme
        window.onload = () => {
            const head = document.getElementsByTagName("head")[0];
            const link = document.createElement("link");
            link.rel = "stylesheet";
            link.type = "text/css";
            link.href =
                "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css";

            head.appendChild(link);
        };
    </script>




    <main>
        <section class="page__hero">
            <img src="../img/pressreleases.jpg" class="hero__image" alt="" />
        </section>

        <div class="container">
            <section class="press_release_articles">
                <div class="press_content">


                    <div class="press_title">
                        <h1>Press Release</h1>
                        <form class="js-submitonchange" method="get">
                            <div class="field  ">
                                <select class="input" id="" name="year">
                                    <option value="ALL YEARS">ALL YEARS</option>
                                    <option value="2023">2023</option>
                                    <option value="2022">2022</option>
                                    <option value="2021">2021</option>
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                </select>
                            </div>
                        </form>
                    </div>

                    <!-- Articles -->
                    <div class="press_article">
                        <h2>2023 Armed Forces Insurance Military Spouse of the Year® Branch Winners Announced</h2>
                        <p><b>06 March 2023</b></p>
                        <p>The 2023 Armed Forces Insurance Military Spouse of the Year® Branch Winners have been
                            announced,
                            recognizing the incredible contributions and sacrifices of military spouses from each branch
                            of
                            the ...</p>
                        <a class="arrow_link read_more_btn" rel="noopener noreferrer"
                            href="https://afi.org/about-afi/press-releases/2023/march-2023/2023-armed-forces-insurance-military-spouse-of-the-year-branch-winners-announced"
                            target="_blank">Read More <i class="fa-solid fa-chevron-right"></i></a>

                    </div>
                    <div class="press_article">
                        <h2>Announcing the Base Winners for the 2023 Armed Forces Insurance Military Spouse of the Year®
                        </h2>
                        <p><b>14 February 2023</b></p>
                        <p>The names of individual Base winners were announced today for the 2023 Armed Forces Insurance
                            Military Spouse of the Year® award.</p>
                        <a class="arrow_link read_more_btn" rel="noopener noreferrer"
                            href="https://afi.org/about-afi/press-releases/2023/february-2023/2023-afi-msoy-base-winners"
                            target="_blank">Read More <i class="fa-solid fa-chevron-right"></i></a>

                    </div>
                    <div class="press_article">
                        <h2>Army Spouse Launches First Community Food Pantry at Fort Leavenworth as Military Families
                            Face
                            Food Insecurity</h2>
                        <p><b>22 November 2022</b></p>
                        <p>At Fort Leavenworth, U.S. Army spouse Monica Bassett is addressing food insecurity head-on.
                            She
                            serves her community with boxes of food donations, just as her husband serves in the
                            military.
                            She ...</p>
                        <a class="arrow_link read_more_btn" rel="noopener noreferrer"
                            href="https://afi.org/about-afi/press-releases/2022/november-2022/army-spouse-launches-first-community-food-pantry-at-fort-leavenworth"
                            target="_blank">Read More <i class="fa-solid fa-chevron-right"></i></a>

                    </div>
                    <div class="press_article">
                        <h2>Chris Cassidy named 2022 Great American Patriot Award recipient</h2>
                        <p><b>26 October 2022</b></p>
                        <p>Chris Cassidy, the current President and CEO of the National Medal of Honor Museum
                            Foundation, retired U.S. Navy SEAL captain and former Chief Astronaut at NASA, is the
                            recipient of the 2022 Great ...</p>
                        <a class="arrow_link read_more_btn" rel="noopener noreferrer"
                            href="https://afi.org/about-afi/press-releases/2022/october-2022/2022-great-american-patriot-award-recipient"
                            target="_blank">Read More <i class="fa-solid fa-chevron-right"></i></a>

                    </div>
                    <div class="press_article">
                        <h2>Nationwide Nominations Now Open for 2022 Armed Forces Insurance Military Spouse of the Year®
                        </h2>
                        <p><b>03 December 2021</b></p>
                        <p>For the thirteenth year, nominations for the 2022 Armed Forces Insurance Military Spouse of
                            the Year® (AFI MSOY) award are now open.</p>
                        <a class="arrow_link read_more_btn" rel="noopener noreferrer"
                            href="https://afi.org/about-afi/press-releases/2021/december-2021/msoy-2022-nominations-open"
                            target="_blank">Read More <i class="fa-solid fa-chevron-right"></i></a>

                    </div>
                    <div class="press_article">
                        <h2>Armed Forces Insurance Earns 2022 Military Friendly® Employer Designation
                        </h2>
                        <p><b>16 November 2021</b></p>
                        <p>Armed Forces Insurance announced today that it has earned the 2022 Military Friendly®
                            Employer designation.</p>
                        <a class="arrow_link read_more_btn" rel="noopener noreferrer"
                            href="https://afi.org/about-afi/press-releases/2021/november-2021/military-friendly-employer"
                            target="_blank">Read More <i class="fa-solid fa-chevron-right"></i></a>

                    </div>
                    <div class="press_article">
                        <h2>Gary Sinise Named 2021 Great American Patriot Award Recipient
                        </h2>
                        <p><b>09 November 2021</b></p>
                        <p>Gary Sinise, the Founder, President and Chairman of the Gary Sinise Foundation and Golden
                            Globe-winning actor, is the recipient of the 2021 Lockheed Martin Armed Forces Bowl Great
                            American Patriot ...</p>
                        <a class="arrow_link read_more_btn" rel="noopener noreferrer"
                            href="https://afi.org/about-afi/press-releases/2021/november-2021/2021-great-american-patriot-award-recipient"
                            target="_blank">Read More <i class="fa-solid fa-chevron-right"></i></a>

                    </div>
                    <div class="press_article">
                        <h2>Military Marriage Day
                        </h2>
                        <p><b>09 August 2021</b></p>
                        <p>B. Carroll Events presents Military Marriage Day (MMD), an annual event designed to celebrate
                            both oaths and vows of U.S. military couples. The second annual event, sponsored by Armed
                            Forces ...</p>
                        <a class="arrow_link read_more_btn" rel="noopener noreferrer"
                            href="https://afi.org/about-afi/press-releases/2021/august-2021/military-marriage-day"
                            target="_blank">Read More <i class="fa-solid fa-chevron-right"></i></a>

                    </div>
                </div>

                <!-- Pagination -->
                <div class="pagination">
                    <ul class="pagination__list">

                        <!-- Previous Button -->
                        <!-- <li class="pagination__list-item ">
                            <a class="pagination__link btn_color" href="#">Previous</a>
                        </li> -->

                        <li class="pagination__list-item">
                            <a class="pagination__link active_btn" href="#">1</a>
                        </li>

                        <li class="pagination__list-item">
                            <a class="pagination__link" href="#">2</a>
                        </li>

                        <li class="pagination__list-item">
                            <a class="pagination__link" href="#">3</a>
                        </li>

                        <li class="pagination__list-item ">
                            <a class="pagination__link btn_color" href="#">Next</a>
                        </li>
                    </ul>
                </div>

            </section>
        </div>
    </main>



    <!-- ******************************************************************** -->
    <!--                                 FOOTER                               -->
    <!-- ******************************************************************** -->
    <footer class="footer offscreen__darken" id="footer">
        <div class="container">
            <div class="wrapper">
                <!-- ********* FOOTER NAV ********* -->
                <nav class="footer-nav">
                    <div class="section_container row">
                        <!--  COL-6 -->
                        <div class="col-md-6 toggle_section_wrapper">
                            <h2 class="footer__heading">
                                About AFI <i class="fa-sharp fa-solid fa-angle-down"></i>
                            </h2>
                            <ul class="list-bare toggle_section columns--2">
                                <li><a href="#">Leadership</a></li>
                                <li><a href="#">History</a></li>
                                <li><a href="#">AFI Military Spouse of the Year</a></li>
                                <li><a href="#">Insurance Ratings &amp; Affiliations</a></li>
                                <li><a href="#">Affinity Programs</a></li>
                            </ul>
                        </div>

                        <!--  COL-3 -->
                        <div class="col-md-3 toggle_section_wrapper">
                            <h2 class="footer__heading">
                                Customer Service
                                <i class="fa-sharp fa-solid fa-angle-down"></i>
                            </h2>
                            <ul class="list-bare toggle_section">
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Billing/Payment Options</a></li>
                            </ul>
                        </div>

                        <!--  COL-3 -->
                        <div class="col-md-3 headeing_section">
                            <h3 class="footer__heading"><a href="#">Careers</a></h3>

                            <h3 class="footer__heading"><a href="#">Newsletter</a></h3>

                            <h3 class="footer__heading"><a href="#">Referrals</a></h3>
                        </div>
                    </div>
                </nav>

                <!-- ********* SOCIAL MEIDA LINKS ********* -->
                <ul class="social-links__list list-bare">
                    <li class="social-links__list-item">
                        <a href="#" class="social-links__link" target="_blank"><span class="is-vishidden"></span><span
                                class="icon-facebook"><i class="fa-brands fa-facebook-f"></i></span></a>
                    </li>

                    <li class="social-links__list-item">
                        <a href="#" class="social-links__link" target="_blank"><span class="is-vishidden"></span><span
                                class="icon-linkedin"><i class="fa-brands fa-linkedin-in"></i></span></a>
                    </li>

                    <li class="social-links__list-item">
                        <a href="#" class="social-links__link" target="_blank"><span class="is-vishidden"></span><span
                                class="icon-twitter"><i class="fa-brands fa-twitter"></i></span></a>
                    </li>
                </ul>

                <!-- ********* FOOTER DISCLAIMER ********* -->
                <div class="footer-disclaimer">
                    <div class="footer-disclaimer__content">
                        <div class="wrapper">
                            <section class="rte-wrapper">
                                <p style="
                      color: var(--color-gray-30);
                      margin-bottom: 0.75rem;
                      padding: 0px;
                      border: 0px;
                      text-align: center;
                    ">
                                    Insurance products are provided by Armed Forces Insurance
                                    Exchange (AFIE), Armed Forces Insurance Agency (AFIA) and
                                    its affiliated partners.
                                </p>
                                <p style="
                      color: var(--color-gray-30);
                      margin-bottom: 0.75rem;
                      padding: 0px;
                      border: 0px;
                      text-align: center;
                    ">
                                    Our Mission is You<sup>&reg;</sup>, The Winged Eagle, Armed
                                    Forces Insurance Corporation<sup>&reg;</sup>, Armed Forces
                                    Insurance<sup>&reg;</sup>, AFI<sup>&reg;</sup>, Armed Forces
                                    Insurance Agency<sup>&reg;</sup>, AFIA<sup>&reg;</sup> and
                                    AFI Insurance Agency<sup>&reg;</sup> are all registered
                                    trademarks of Armed Forces Insurance Corporation. Armed
                                    Forces Insurance Exchange<sup>&reg;</sup>, AFIE<sup>&reg;</sup>
                                    and Military Spouse of the Year<sup>&reg;</sup> are all
                                    registered trademarks of Armed Forces Insurance Exchange.
                                </p>
                            </section>
                        </div>
                        <p>&copy; Copyright 2010-2023 Armed Forces Insurance</p>
                    </div>
                    <ul class="footer-disclaimer__links list-horizontal list-bare">
                        <li><a href="#">Privacy Statement</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- ******* FOOTER JS ******* -->
    <script>
        const section_wrapper = document.querySelectorAll(
            ".toggle_section_wrapper"
        );

        if (screen.width <= 768) {
            section_wrapper.forEach((section) => {
                const heading = section.querySelector(".footer__heading");

                heading.addEventListener("click", () =>
                    section.classList.toggle("show_toggle")
                );
            });
        }
    </script>


</body>

</html>