/* Pagination CSS */
.press_release_articles .pagination {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-end;
}

.pagination .pagination__list {
  margin: 2rem 0;
  align-items: center;
  display: flex;
  list-style: none;
}

.pagination__list .pagination__link {
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  color: #000 !important;
  display: grid;
  justify-items: center;
}

.pagination__list .pagination__link.btn_color {
  background: #0570c5 !important;
  color: #fff !important;
  border-radius: 1.5rem;
  padding: 0.75rem 1rem;
}

.pagination__link.active_btn {
  color: #0570c5 !important;
}

.pagination__list .pagination__link {
  font-size: 1.25rem !important;
  margin: 0 0.25rem;
  min-width: 2.5rem;
  padding: 0.5rem;
}
