<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <style>
      /*  */
    </style>
  </head>
  <body>
    <h1>Home Components</h1>
    <ul>
      <li><a href="../hero.html" target="_blank">hero.html</a></li>
      <li>
        <a href="../our-mission.html" target="_blank">our-mission.html </a>
      </li>
      <li><a href="../card-group.html" target="_blank">card-group.html</a></li>
      <li><a href="../bg-card.html" target="_blank">bg-card.html</a></li>
      <li>
        <a href="../account-pods.html" target="_blank">account-pods.html</a>
      </li>
      <li>
        <a href="../download-app.html" target="_blank">download-app.html</a>
      </li>
      <li>
        <a href="../blue-card.html" target="_blank">blue-card.html </a>
      </li>
    </ul>

    <a href="index.html" style="text-decoration: underline">back</a>
  </body>
</html>
