<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Components</title>

  <style>
    body {
      font-family: "Roboto", sans-serif;
      margin: 0;
    }

    h1 {
      text-align: center;
      font-family: "Zilla Slab", serif;
      background: #961e28;
      color: #fff;
      padding: 20px;
    }

    a {
      color: #be292e;
      /* color: #003864; */
      text-decoration: none;
      font-size: 22px !important;
    }

    li {
      margin-bottom: 10px;
    }

    ul {
      margin-left: 20%;
      margin-top: 30px;
    }
  </style>
</head>

<body>
  <h1>Motorcycle/Off-Road Vehicle Components</h1>
  <ul>
    <li>
      <a target="_blank" href="../hero.html">Hero Image</a>
    </li>
    <li>
      <a target="_blank" href="../mission-text.html">Text Section</a>
    </li>
    <li>
      <a target="_blank" href="../page-article.html">Page Articel</a>
    </li>
    <li>
      <a target="_blank" href="../blue-pods.html">Blue Pods</a>
    </li>
    <li>
      <a target="_blank" href="../protect-section.html">Protection Section</a>
    </li>
  </ul>
  <div style="width: 60%; margin: 30px auto 0;">
    <a href="../../Motorcycle-and-Off-Road-Vehicle/view/index.html" style="text-decoration: underline">Back</a>
  </div>
</body>

</html>