.afi_for_you__article {
  background-color: #f6f6f6;
  background-color: var(--color-gray-10);
  flex-grow: 1;
  padding: 2.75rem;
  margin: 10px 0 40px;
}

.afi_for_you__article .heading-blue {
  margin-bottom: 20px;
}

.afi_for_you__article ul {
  list-style: disc !important;
  padding-left: 40px;
}
